* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--renk1);
    position: relative;
    text-align: center;
}

h1 {

font-size: 60px;
letter-spacing: 5px;
margin: auto;
margin-top:250px;
color: var(--renk2);

}


:root {
    --renk1:#EFE6DD;
    --renk2:#231F20;
}

#togglecontainer {

    margin: auto;
    margin-top: 20px;
    height:50px;
    width:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px;
    cursor: pointer;
    position: relative;

   
}

#slider {
    position: absolute;
    left:0px;
    height:100%;
    width: 50%;
    border:2px solid black; 
    transition: 400ms ease;
    border-radius: 50%;
}

#slider.slidetoleft {
 
    left:0px;
    transition: 400ms ease;
}

#slider.slidetoright {

    left:50px;
    transition: 400ms ease;
}



#left {
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
 
   
}


#right {
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


img {
    height:40px;
    width:40px;
}

